
// Mixin
@mixin stagger($class, $count, $base-delay: 0s) {
  .#{$class} {
    @for $i from 1 through $count {
      .menu-card:nth-of-type(#{$i}) {
        animation-delay: $base-delay + $i * 0.3s;
      }
    }
  }
}
// Base
body{ 
    h1 h2 h3{
        font-family: "Shrikhand", serif;
    }
    p{
        font-family: "Roboto", sans-serif;
    }
}

.loader-container {
    position: fixed;          
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 53, 53, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeSlide 3s both; 
    pointer-events: none;
    .loader{
        display: flex;
        justify-content: space-between;
        width: 80px;
        .loader-un {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            animation: grow-shrink 1.5s infinite;
            background-color: #89C8FA;
            animation-delay: 0s;
        }
        .loader-deux {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            animation: grow-shrink 1.5s infinite;
            background-color: #003A68;
            animation-delay: 0.3s;
        }
        .loader-trois {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            animation: grow-shrink 1.5s infinite;
            background-color: #9356DC;
            animation-delay: 0.6s;
        }
        @keyframes grow-shrink {
            0%, 100% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.5);
            }
        }
        @keyframes fadeSlide {
            0% {
                opacity: 0;
                transform: translateY(30px);
            }
            10% {
                opacity: 1;
                transform: translateY(0);
            }
            70% {
                opacity: 1;
                transform: translateY(0);
            }
            100% {
                opacity: 0;
                transform: translateY(-50px);
            }
        }
    }
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.6);
    margin-bottom: 0.5px;
    img{
        width: 197px;
        height: 36px;
        justify-content: center;
        margin-top: 14px;
        margin-bottom: 13px;
    }
}

.location {
    display: flex;
    gap: 17px;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.6);
    img{
        width: 12px;
        height: 16px;
    }
}

.title {
    text-align: center;
    @media (min-width: 1250px){
        padding-bottom: 18px;
    }
    h1{
        @media (min-width: 1250px){
            margin-bottom: 18px;
        }
    }

}

.button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn-style {//class à mettre directement dans HTML
    font-family: "Roboto", sans-serif;
    color: white;
    border-radius: 25px;
    border: none;
    display: flex;
    justify-content: center;
    width: 218px;
    height: 50px;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.6);
    background: linear-gradient(180deg, #FF79DA, #9356DC);
    text-decoration: none; 
    color: white;
    font-weight: bold;
    &:hover{
        filter: brightness(1.15);
        box-shadow: 0px 4px 8px rgba(0,0,0,0.45);
    }
}

.fonctionnement{
    margin-bottom: 122px;
    @media (min-width: 1250px){
        margin-bottom: 30px;
    }
    
    .title-fonctionnement{
        margin-top: 105px;
        @media (min-width: 1250px){
            margin-top: 80px;
            margin-left: 180px;
        }
    }
    ul{
        list-style-type: none;
        padding-left: 20px;
        padding-right: 20px;
         @media (min-width: 1250px){
            display: flex;
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
    }
        }

    li{
        margin-bottom: 25px;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.6);
        border-radius: 25px;
        @media (min-width: 1250px){
            margin-right: 24px;
        }
    }

    li article{
        border-radius: 20px;
        border: none;
        width: 335px;
        height: 73px;
        display: flex;
        align-items: center;
    }

    .circle {
        width: 24px;
        height: 24px;
        border-radius: 50px;
        background-color: #9356DC;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 15px;
        color: white;
        font-weight: bold;
        flex-shrink: 0;
        margin-right: 10px;
    }

    .fonctionnement-img img{
        width: 20px;
        height: 20px;
        padding-right: 25px;
    }

    .fonctionnement-txt{
        display: flex;
        font-weight: bold;
        width: 211px;
    }

}

.restaurants{
    h2{
            @media (min-width: 1250px){
                margin-left: 180px;
            }
    }
    .ligne-une{
            @media (min-width: 1250px){
                display: flex;
                gap: 100px;
                justify-content: center;
            }
    }
    .ligne-deux{
            @media (min-width: 1250px){
                display: flex;
                gap: 100px;
                justify-content: center;
            }
    }
    .restaurant-card{
        margin-bottom: 50px;
        @media (min-width: 1250px){
                width: 40%;
            }
            a{
            text-decoration: none;
            .card{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    height: 231px;       
                    object-fit: cover; 
                    display: flex;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    padding-bottom: 16px;
                }   
                .bottom-card{
                    display: flex;
                    gap: 10px;
                    width: 100%;
                    .txt-card{
                        width: 100%;
                        padding-left: 13px;
                        display: flex;
                        flex-direction: column;
                        color: #000000;
                            h3{
                                margin: 0;
                            }
                            p{
                                margin: 0;
                            }
                    }
                    input[type="checkbox"] {
                    display: none;
                    }
                    .toggle-coeur {
                        position: relative;
                        display: inline-block;
                        margin-top: 10px;
                        margin-right: 25px;
                    }
                    .toggle-coeur img{
                        width: 22px;
                        height: 21px;
                    }
                    .toggle-coeur .color {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        transition: opacity 500ms ease;
                    }
                    .coeur input:checked + .toggle-coeur .color {
                        opacity: 1;
                    }
                    .coeur input:checked + .toggle-coeur .vide {
                        opacity: 0;
                    }
                }
                .nouveau{
                    font-family: "Roboto", sans-serif;
                    width: 80px;
                    height: 29px;
                    background-color: #99E2D0;
                    color: #008766;
                    border-radius: 2px;
                    text-align: center;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                    p{
                        margin-top: 7px;
                        margin-bottom: 6px;
                    }
                }
            }
            }
    }
    }

footer{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding-left: 25px;
    @media (min-width: 1250px){
        height: 114px;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        padding: 0;
    }
    .title-footer img{
        width: 139px;
        margin-top: 22px;
        @media (min-width: 1250px){
            width: 137px;
            margin-right: 25px;
            margin-left: 16px;
            margin-top: 0;
        }
    }
    .footer-content{
        color: white;
        display: flex;
        flex-direction: column;
        margin-bottom: 22px;
        @media (min-width: 1250px){
            flex-direction: row;
            gap: 7px;
            align-items: center;
            margin: 0;
            }
        .footer-ligne-une{
            display: flex;
            align-items: center;
            gap: 11px;
            img{
                width: 11px;
                height: 13px;
            }
            @media (min-width: 1250px){
                width: 190px;
            }
        }
        .footer-ligne-deux{
            display: flex;
            align-items: center;
            gap: 11px;
            img{
                width: 11px;
                height: 13px;
            }
            @media (min-width: 1250px){
                width: 190px;
            }
        }
        .footer-ligne-trois{
            @media (min-width: 1250px){
                    width: 130px;}
        }
        .footer-ligne-quatre{ 
            a{
                text-decoration: none;
                color: white;
                font-family: "Roboto", sans-serif;
            }
            @media (min-width: 1250px){
                    width: 130px;}
        }
        
    }
}

// menu 

.header-menu{
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.6);
    padding-top: 14px;
    padding-bottom: 13px;
    position: relative;
    .arrow{
        width: 30px;
        height: 30px;
        margin-left: 17px;
    }
    .logo-menu{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 197px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
    }
}

.img-menu{
    height: 275px;       
    display: flex;
    padding-bottom: 16px;
    img{
        width: 100%;
        object-fit: cover; 
    }
}

.menu-container{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #F6F6F6;
    position: relative;
    margin: -50px auto 0;
    @media (min-width: 1250px) {
        width: 70%;
    }
    h2{
        font-weight: 300;
        margin-bottom: 0;
        padding-left: 13px;
        }
    .trait{
        border-bottom: 3px solid #99E2D0;
        width: 40px;
        margin-bottom: 12px;
        margin-left: 13px;
    }
    .menu-title{
        display: flex;
        align-items: center;
        padding-left: 17px;
        padding-right: 17px;
        input[type="checkbox"] {
                    display: none;
                }
        .toggle-coeur {
            position: relative;
            display: inline-block;
            margin-top: 10px;
            margin-right: 25px;
        }
        .toggle-coeur img{
            width: 22px;
            height: 21px;
        }
        .toggle-coeur .color {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 500ms ease;
        }
        #coeur-1:checked + .toggle-coeur .color {
            opacity: 1;
        }
        #coeur-1:checked + .toggle-coeur .vide {
            opacity: 0;
        }
        h1{
            padding-right: 40px;
            size: 28px;
        }
        @media (min-width: 1250px) {
        display: flex;
        justify-content: center;
        }
    }
    .menu-check{
        display: none;
    }
    .menu-card{
        margin: 0 13px 12px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 1s forwards;
        .menu-info{
            font-family: "Roboto", sans-serif;
            flex: 1;
            min-width: 0;
            padding: 13px 0px 13px 15px;
            .menu-titre{
                display:block;
                font-weight: 500;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; 
            }
            .menu-desc{
                display:block;
                margin: 0;
                padding-bottom: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; 
            }
        }
        .prix-check{
            font-family: "Roboto", sans-serif;
            display: flex;
            transform: translateX(59px);
            transition: transform 0.3s ease; // 🌟 animation ici
        }
        .prix{
            font-weight: bold;
            align-items: center;
            display: flex;
        }
        .check{
            width: 59px;
            height: 69px;
            background-color: #99E2D0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 8px;
            img{
                width: 20px;
                height: 20px; 
            }
        }
        .prix-check:checked{
            transform: translate(0px);
        }
    }
    .menu-check:checked + .menu-card .prix-check {
    transform: translateX(0);
    }
    @keyframes fadeInUp {
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
    @include stagger("entrees", 4, 0s);
    @include stagger("plats", 3, 1s); 
    @include stagger("desserts", 3, 2.5s);
}

.btn-menu{
    margin-bottom: 40px;
    margin-top: 40px;
}