body {
  font-family: "Roboto";
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 53, 53, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeSlide 3s both;
}
.loader-container .loader {
  display: flex;
  justify-content: space-between;
  width: 80px;
}
.loader-container .loader .loader-un {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: grow-shrink 1.5s infinite;
  background-color: #89C8FA;
  animation-delay: 0s;
}
.loader-container .loader .loader-deux {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: grow-shrink 1.5s infinite;
  background-color: #003A68;
  animation-delay: 0.3s;
}
.loader-container .loader .loader-trois {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: grow-shrink 1.5s infinite;
  background-color: #9356DC;
  animation-delay: 0.6s;
}
@keyframes grow-shrink {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  70% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 0.5px;
}
.logo img {
  width: 197px;
  height: 36px;
  justify-content: center;
  margin-top: 14px;
  margin-bottom: 13px;
}

.location {
  display: flex;
  gap: 17px;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}
.location img {
  width: 12px;
  height: 16px;
}

.title {
  text-align: center;
}
@media (min-width: 1250px) {
  .title {
    padding-bottom: 18px;
  }
}
@media (min-width: 1250px) {
  .title h1 {
    margin-bottom: 18px;
  }
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-style {
  color: white;
  border-radius: 25px;
  border: none;
  display: flex;
  justify-content: center;
  width: 218px;
  height: 50px;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.btn-style:hover {
  filter: brightness(1.15);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.45);
}

.fonctionnement {
  margin-bottom: 122px;
}
@media (min-width: 1250px) {
  .fonctionnement {
    margin-bottom: 30px;
  }
}
.fonctionnement .title-fonctionnement {
  margin-top: 105px;
}
@media (min-width: 1250px) {
  .fonctionnement .title-fonctionnement {
    margin-top: 80px;
    margin-left: 180px;
  }
}
.fonctionnement ul {
  list-style-type: none;
}
@media (min-width: 1250px) {
  .fonctionnement ul {
    display: flex;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.fonctionnement li {
  margin-bottom: 15px;
}
@media (min-width: 1250px) {
  .fonctionnement li {
    margin-right: 24px;
  }
}
.fonctionnement li button {
  border-radius: 20px;
  border: none;
  margin-bottom: 25px;
  width: 335px;
  height: 73px;
  display: flex;
  align-items: center;
}
.fonctionnement .circle {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 15px;
  color: white;
  font-weight: bold;
  flex-shrink: 0;
  margin-right: 10px;
}
.fonctionnement .fonctionnement-img img {
  width: 20px;
  height: 20px;
  padding-right: 25px;
}
.fonctionnement .fonctionnement-txt {
  display: flex;
  font-weight: bold;
  width: 211px;
}

@media (min-width: 1250px) {
  .restaurants h2 {
    margin-left: 180px;
  }
}
@media (min-width: 1250px) {
  .restaurants .ligne-une {
    display: flex;
    gap: 100px;
    justify-content: center;
  }
}
@media (min-width: 1250px) {
  .restaurants .ligne-deux {
    display: flex;
    gap: 100px;
    justify-content: center;
  }
}
.restaurants .restaurant-card {
  margin-bottom: 50px;
}
@media (min-width: 1250px) {
  .restaurants .restaurant-card {
    width: 40%;
  }
}
.restaurants .restaurant-card a {
  text-decoration: none;
}
.restaurants .restaurant-card a .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.restaurants .restaurant-card a .card img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  display: flex;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-bottom: 16px;
}
.restaurants .restaurant-card a .card .bottom-card {
  display: flex;
  gap: 10px;
  width: 100%;
}
.restaurants .restaurant-card a .card .bottom-card .txt-card {
  width: 100%;
  padding-left: 13px;
  display: flex;
  flex-direction: column;
  color: #000000;
}
.restaurants .restaurant-card a .card .bottom-card .txt-card h3 {
  margin: 0;
}
.restaurants .restaurant-card a .card .bottom-card .txt-card p {
  margin: 0;
}
.restaurants .restaurant-card a .card .bottom-card input[type=checkbox] {
  display: none;
}
.restaurants .restaurant-card a .card .bottom-card .toggle-coeur {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-right: 25px;
}
.restaurants .restaurant-card a .card .bottom-card .toggle-coeur img {
  width: 22px;
  height: 21px;
}
.restaurants .restaurant-card a .card .bottom-card .toggle-coeur .color {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}
.restaurants .restaurant-card a .card .bottom-card .toggle-coeur input:checked ~ .color {
  opacity: 1;
}
.restaurants .restaurant-card a .card .bottom-card .toggle-coeur input:checked ~ .vide {
  opacity: 0;
}
.restaurants .restaurant-card a .card .nouveau {
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  text-align: center;
  position: absolute;
  top: 20px;
  right: 20px;
}
.restaurants .restaurant-card a .card .nouveau p {
  margin-top: 7px;
  margin-bottom: 6px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding-left: 25px;
  width: 100%;
}
@media (min-width: 1250px) {
  footer {
    height: 114px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 0;
  }
}
footer .title-footer img {
  width: 139px;
  margin-top: 22px;
}
@media (min-width: 1250px) {
  footer .title-footer img {
    width: 137px;
    margin-right: 25px;
    margin-left: 16px;
    margin-top: 0;
  }
}
footer .footer-content {
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}
@media (min-width: 1250px) {
  footer .footer-content {
    flex-direction: row;
    gap: 7px;
    align-items: center;
    margin: 0;
  }
}
footer .footer-content .footer-ligne-une {
  display: flex;
  align-items: center;
  gap: 11px;
}
footer .footer-content .footer-ligne-une img {
  width: 11px;
  height: 13px;
}
@media (min-width: 1250px) {
  footer .footer-content .footer-ligne-une {
    width: 190px;
  }
}
footer .footer-content .footer-ligne-deux {
  display: flex;
  align-items: center;
  gap: 11px;
}
footer .footer-content .footer-ligne-deux img {
  width: 11px;
  height: 13px;
}
@media (min-width: 1250px) {
  footer .footer-content .footer-ligne-deux {
    width: 190px;
  }
}
@media (min-width: 1250px) {
  footer .footer-content .footer-ligne-trois {
    width: 130px;
  }
}
footer .footer-content .footer-ligne-quatre a {
  text-decoration: none;
  color: white;
}
@media (min-width: 1250px) {
  footer .footer-content .footer-ligne-quatre {
    width: 130px;
  }
}

/*# sourceMappingURL=style.css.map */
